<div class="list-group">
  {{#each appointments}}
    <a href="/appointment/{{id}}" class="list-group-item {{#if selected}}active{{/if}}">
      <h4 class="list-group-item-heading">
        {{note}}
        <span class="badge">{{relativeDate date}}</span>
      </h4>
      {{#if selected}}
        <div class="list-group-item-text">
          <p>Date: {{rawDate date}}</p>
          <p>Time: {{rawTime date}}</p>
          <p>Doctor: {{doctor.name}}</p>
        </div>
      {{/if}}
    </a>
  {{/each}}
</div>
