{{#if futureAppointmentList}}
  <h2>Scheduled Appointments</h2>
  <ul>
    {{#each futureAppointmentList}}
      <li>
        <a href="/appointment/{{id}}">
            {{note}}
        </a>
        - {{doctor.name}}
          {{#if selected}}
            (selected)
          {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="alert alert-info">
    You have no appointments scheduled.
  </div>
{{/if}}

{{#if showAppointmentCreateForm}}
  {{>appointmentCreateForm}}
{{else}}
  <a href="/appointment/new" class="btn btn-info">
    Request an Appointment
  </a>
{{/if}}

{{#if pastAppointmentList}}
  <h2>Past Appointments</h2>
  <ul>
    {{#each pastAppointmentList}}
      <li>
        <a href="/appointment/{{id}}">
          {{note}}
        </a>
        - {{doctor.name}}
        {{#if selected}}
          (selected)
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}
