{{#if futureAppointmentList}}
  <h3>Upcoming Appointments</h3>
  <appointment-list appointments="futureAppointmentList"></appointment-list>
{{else}}
  <div class="alert alert-info">
    You have no appointments scheduled.
  </div>
{{/if}}

{{#if showAppointmentCreateForm}}
  <appointment-create-form appointment-list="rawAppointmentList" doctor-list="doctorList"></appointment-create-form>
{{else}}
  <a href="/appointment/new" class="btn btn-info">
    Request an Appointment
  </a>
{{/if}}

{{#if pastAppointmentList}}
  <h3>Appointment History</h3>
  <appointment-list appointments="pastAppointmentList"></appointment-list>
{{/if}}
