{{#if showAppointmentCreateForm}}
  {{>appointmentCreateForm}}
{{else}}
  <a href="/appointment/new" class="btn btn-info">
    Request an Appointment
  </a>
{{/if}}

{{#if appointmentsList.length}}
  <ul>
    {{#each appointmentsList}}
      <li>
        <a href="/appointment/{{id}}">
          {{note}}
        </a>
        - {{doctor}}
        {{#if selected}}
          (selected)
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="alert alert-info">
    You have not scheduled any appointments yet.
  </div>
{{/if}}
